.share-div {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 37%;
}
.share-div div {
  display: inline-block;
  width: 23%;
  text-align: center;
}
